<div class="example-container" [class.dark]="dark" fxLayout="column" fxFlexFill>
<mat-toolbar color="primary" class="example-toolbar elevation4"> 
  <button mat-icon-button (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="">{{name}}</h1>

  <span class="example-spacer"></span>
  
  <button mat-icon-button (click)="dark=!dark">
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Change theme">format_color_fill</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav 
    [opened]="mobileQuery.matches ? 'false' : 'true'" 
    style="width:180px;padding: 10px; text-align: center;" #snav 
    [mode]="mobileQuery.matches ? 'over' : 'side'"
    [style.marginTop.px]="mobileQuery.matches ? 0 : 0"
    [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a (click)="mobileQuery.matches ? snav.close() : ''"  mat-list-item routerLinkActive="active" routerLink="/home" href="#">Información</a>
        <!-- <a mat-list-item routerLink="/sag" href="#">Calcular SAG</a> -->
        <a (click)="mobileQuery.matches ? snav.close() : ''" mat-list-item routerLinkActive="active" routerLink="/sag/front" href="#">SAG Delantero</a>
        <a (click)="mobileQuery.matches ? snav.close() : ''" mat-list-item routerLinkActive="active" routerLink="/sag/rear" href="#">SAG Trasero</a>
        <footer class="footer2 "> 
          By <a target="blanck" href="https://github.com/quemao18">@quemao18</a>
        </footer>
        <!-- <a mat-list-item href="#">Link 3</a> -->
      </mat-nav-list>
    </mat-sidenav>

  <mat-sidenav-content fullscreen>

    <!-- Add Content Here -->
    <div class="container">
      <router-outlet></router-outlet>
    </div>

    <!-- <footer class="footer2 "> 
      Developed by <a target="blanck" href="https://github.com/quemao18">@quemao18</a>
    </footer> -->

   
  </mat-sidenav-content>
  
</mat-sidenav-container>

<!-- <mat-toolbar color="primary" style="height: 60px;" >  -->
  <!-- <footer class="footer footer-primary">
    <div class="content has-text-centered">
      <p style="text-align: center;">
        Developed by <a target="blanck" href="https://github.com/quemao18">@quemao18</a>
      </p>
    </div>
  </footer> -->
<!-- </mat-toolbar> -->

</div>
