<div class="example-container" [class.dark]="dark" fxLayout="column" fxFlexFill>
<mat-toolbar color="primary" class="example-toolbar elevation4"> 
  <button style="margin-top: -5px;" mat-icon-button (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <img src="/assets/img/shopping-bag.png" alt="avatar" />
  <h1 class="">{{name}}</h1>

  <span class="example-spacer"></span>

  <button style="margin-left: -5px;" *ngIf="cart && cart.length > 0"  mat-icon-button  routerLink="/cart">
  <mat-icon matBadge="5" class="example-icon" >
    shopping_cart
  </mat-icon>
  <span class="badge" *ngIf="cart && cart.length > 0">{{ cart.length }}</span>
  </button>

  <button mat-icon-button (click)="dark=!dark">
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Change theme">{{dark ? 'wb_sunny':'nights_stay'}}</mat-icon>
  </button>
  
</mat-toolbar>

<mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav 
    [opened]="mobileQuery.matches ? 'false' : 'true'" 
    style="width:180px;padding: 10px; text-align: center;" #snav 
    [mode]="mobileQuery.matches ? 'over' : 'side'"
    [style.marginTop.px]="mobileQuery.matches ? 0 : 0"
    [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a (click)="mobileQuery.matches ? snav.close() : ''"  mat-list-item routerLinkActive="active" routerLink="/home" href="#">Home</a>
        <a (click)="mobileQuery.matches ? snav.close() : ''"  mat-list-item routerLinkActive="active" routerLink="/cart" href="#">Cart</a>
        <a (click)="mobileQuery.matches ? snav.close() : ''"  mat-list-item routerLinkActive="active" routerLink="/customer" href="#">Customer</a>
        <footer class="footer2 "> 
          By <a [style.color]="dark? 'white':''" target="blank" href="https://github.com/quemao18">@quemao18</a>
        </footer>
      </mat-nav-list>
    </mat-sidenav>

  <mat-sidenav-content fullscreen>

    <!-- Add Content Here -->
    <div class="container">
      <router-outlet></router-outlet>
    </div>

   
  </mat-sidenav-content>
  
</mat-sidenav-container>


</div>
