
/* @import '@angular/material/prebuilt-themes/deeppurple-amber.css'; */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/

.container {
  padding: 30px;
}

html, body, app-root, .app-frame {
  overflow: hidden;
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  color: #e0e0e0;
}
