.example-card {
    max-width: 660px;
  /* needed styles below */
  /* display: flex; */
  /* justify-content: space-between; */
    margin-left: auto;
    margin-right: auto;
  }

  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  

  .example-form {
        /* min-width: 150px;
        max-width: 520px; */
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
    display: inline-block;
  }
  